#bill {
	width: 180px;
	text-align: center;
	font-size:12px;
	font-family: 'sim-Hei', 'Microsoft Yahei';
}
.billlogo img{
	width: 170px;
}
.kindergarden-name{
	font-family: 'Microsoft Yahei', "Helvetica Neue", Helvetica;
	font-size: 22px;
	font-weight: bold;
}
.telphone {
	font-size: 14px;
	font-weight: bold;
}
#bill table{
	width: 95%;
	margin: 0 auto;
	font-size:12px;
	text-align: center;
}
#bill p {
	margin: 5px;
}
.total-list th{
	text-align: right;
	width: 50%;
}
.total-list td{
	text-align: left;
}