USE [zjk]
GO
/****** Object:  StoredProcedure [dbo].[getSystemSeq]    Script Date: 04/26/2019 17:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[getSystemSeq]
	@name varchar(50),--编号名称  租赁合同编号、备案号等
	@sysNo varchar(50) output
as
begin
set Transaction Isolation Level SERIALIZABLE--设置事物级别
BEGIN Transaction
	declare @id numeric(19, 0),@prefix varchar(10),@datestr varchar(20),@sequence varchar(20),@length int
	select @id=s.id,@prefix=s.prefix_,@datestr=s.datestr_,@sequence=s.sequence_,@length =s.length_ from SYS_SEQUENCE s where s.name_=@name
	begin
		declare @i int,@BHTIME datetime,@RQC int,@LSH int
		begin
			set @BHTIME = convert(datetime,@datestr,112)
			set @LSH = convert(int,@sequence)
			set @RQC = DATEDIFF(DAY,@BHTIME,GETDATE())
			if @RQC>0
				begin
					set @datestr = CONVERT(varchar(100), GETDATE(), 112)
					set @LSH = 0
				end
			set @LSH = @LSH+1
			set @sequence = convert(varchar(50),@LSH)
			print '@sequence:'+@sequence
			set @i = LEN(@sequence)
			while (@i<@length)
				begin
					set @i = @i+1
					set @sequence = '0'+ @sequence
				end
			set @sysNo =@prefix + @datestr + @sequence
			print '@sysNo:'+@sysNo
			update SYS_SEQUENCE set datestr_=@datestr,sequence_=@sequence where id=@id	
		end
	end
if	@@error<>0   --出错
	begin 
		ROLLBACK Transaction
	end   
else  --没有出错
	commit Transaction ok --提交事务 
end
